@font-face {
    font-family: 'VT323';
    src: url('fonts/VT323/VT323-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

#loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    text-align: center;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    bottom: 0; 
    color: #ffffff;
    display: flex;
    font-size: 20px;
    justify-content: left;
    padding: 2px;
    position: absolute; 
    width: 100%;
}

#p1 {
    display: flex;
    justify-content: left;
    margin: 5px;
    padding: 10px;
}

#p2 {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    padding: 10px;
    margin-left: auto;
}

#loginScreen {
    display: none;
    background-image: url("images/3_login_screen/stars.gif");
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100vw; 
}

#profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

#profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 140px; 
    background-color: #171a1f; 
    border-radius: 20px; 
    overflow: hidden; 
    box-shadow: 0 0 8px #ffffff; 
    margin: auto;
    margin-top: 105px;
    padding: 4px;
}

.profileImage img {
    object-fit: cover;
}

#p3 {
    color: #ffffff;
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
}

#desktopScreen {
    background-color: #dd517e;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
    width: 100vw;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: none;
}

.icon img {
    margin-bottom: 5px; 
}

.computerIcon {
    width: 95px; 
    height: 95px; 
}

.gameboyIcon {
    width: 50px; 
    height: 50px; 
}

.musicIcon {
    width: 35px; 
    height: 35px; 
}

.questionMarkIcon {
    width: 75px; 
    height: 75px; 
}


.icon span {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: #171a1f; 
}

.window {
    display: none;
    position: absolute;
    top: 50px;
    left: 300px;
    width: 750px;
    height: 450px;
    background-color: #ffffff;
    border: 4px solid #efb034;
    box-shadow: 8px 8px 0 #556cc9;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e68e35;
    color: #171a1f;
    padding: 5px;
}

.window-content {
    padding: 10px;
    width: fit-content;
}

.window-content h4 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.window-content p {
    font-size: 25px;
}